.NavBar{
    background-color: #ffffff;
    color: white;
    font-weight: bold;
    font-family: Arial;
    padding: 16px 16px;
}

.content{
    color: #003dfd;
    background-color: white;
    font-weight : bold;
    font-family: sans-serif;
}
